#navigationMenu{
    background-color: theme("colors.onyx");
    width: 15%;
    min-width: 215px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#line{
    width: 90%;
    border: 1px solid white;
}

#menuContainer{
    margin-top: 20px;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
}

.menu{
    padding-top: 7px;
    padding-left: 10%;
    width: 100%;
    height: 8%;
    color: theme("colors.light");
    font-size: 0.95em;
}

.menu:hover{
    cursor: pointer;
    background-color: theme("colors.silver");
}
