#container{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
}

.section{
    border: 1px solid black;
}

#topSection{
    height: 15%;
}

#middleSection{
    height: 80%;
}

#bottomSection{
    height: 5%;
}