#container{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
}

.section{
    background-color: theme("colors.light");
}

#topSection{
    height: 25%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#middleSection{
    height: 70%;
    padding-top: 10px;
}

#bottomSection{
    height: 5%;
}